@keyframes bgcolor {
  0% {
    background-color: #45a3e5;
  }

  25% {
    background-color: #66bf39;
  }

  50% {
    background-color: #eb670f;
  }

  75% {
    background-color: #f35;
  }

  100% {
    background-color: #864cbf;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 20s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiButton-root {
  border-radius: 8px;
}
